<div class="container">
    <h1 class="my-4">Course title : {{course.title}}
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{{course.imageURL}}"
                 alt="{{course.title}}"/>
        </div>

        <div class="col-md-4 text-center">
            <h3 class="my-3">Course Description</h3>
            <p>{{course.description}}</p>

            <form id="enroll-form" action="/course/enroll/{{course.id}}" method="post"></form>
            <a href="javascript:document.getElementById('enroll-form').submit()">
                <button type="button"
                        class="btn btn-info">Enroll
                </button>
            </a>

        </div>
    </div>

    <h4 class="text-center">To get full access please enroll the course</h4>
</div>