<form class="text-center border border-light p-5" method="post" action="/lecture/course/add/{{course.id}}">
    <h1>Add lecture to course {{course.title}}</h1>

    <div class="form-group">
        <label for="title">Lecture Title</label>
        <input type="text" class="form-control" placeholder="Lecture title" name="title">
    </div>
    <div class="form-group">
        <label for="videoUrl">Video Url</label>
        <input type="text" class="form-control" placeholder="Video Url" name="videoURL">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2 class="text-center">There are {{totalLectures}} lectures in this course</h2>

<ul class="list-group">

    {{#each lectures}}

        <li class="list-group-item">
            <h5 class="mb-1">{{title}}</h5>
            <span class="float-right">
                        <a href="/lecture/{{id}}/delete"><button class="btn btn-danger">Delete</button></a>
                    </span>
        </li>

    {{/each}}
</ul>